@model List<SharedLibrary.Models.CategoryDto>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

@if (ViewBag.Error != null)
{
    <p style="color: red;">@ViewBag.Error</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
